<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portal de alta de citas</title>
    <link rel="stylesheet" href="css/altacita.css">
  </head>
  <body>
  
    <div class="login-box">
      <img src="img/cruzverde.png" class="avatar" alt="Avatar Image">
      <h1>Ingresar</h1>
      <form action="iniciarsesion" method="post">
        <!-- USERNAME INPUT -->
        <label class="doctor" for="doctor">doctor</label>
        <input type="text" placeholder="doctor" name="username">
        <!-- PASSWORD INPUT -->
        <label class="nombredepaciente" for="nombredepaciente">nombre de paciente</label>
        <input type="password" placeholder="nombredepaciente" name="password">
        <input type="submit" value="Entrar">
      </form>
    </div>
  </body>
</html>